<h1>Edit item</h1>

<h2>Form created with Rails</h2>
<%= form_for @item do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<h2>Form created with html</h2>
<form action="/items" method="post">
  <label>Name</label><br>
  <input type="text" name="name">

  <input type="submit" value="Create">
</form>
